<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
  
    <title>Real Estate Traders</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link rel="icon" href="/images/android-chrome-512x512.png" type="image/icon type">  
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body style ="background-color:lavender">
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background-color: aliceblue; border-radius: 50%;">
        <img src="/images/android-chrome-512x512.png" alt="Logo" style="width:40px;" class="rounded-pill">
      </a>
      <a class="navbar-brand" href="#"><h2>Real Estate</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Area</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/templates/login.html">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/templates/logProfile.html">Profile</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search your desired Villas" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/house 2 edit.jpg" class="d-block w-100" alt="...">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Find your Forever Home!</h1>
            <p>Unlock the door to your next Beginning</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/house1 edit.jpg" class="d-block w-100" alt="...">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Life's Greatest Investement</h1>
            <p>Refers to the idea that owning a home is one of the most important financial investments you can make.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/house3 edit.jpg" class="d-block w-100" alt="...">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Building a Better Life</h1>
            <p>Emphasizes the idea that a home can serve as the foundation for a better and happier life.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 
  <div class="container marketing">

   
    <div class="row">
      <div class="col-lg-4" id="highlight">
        <img src = "/images/beach_Edit.jpg" class ="bd-placeholder-img rounded-circle" alt="...">
       <!---<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->

        <h2>Villas near Beach</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#Beach" style="background-color:blueviolet;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" id="highlight1">
        <img src = "/images/Swim_edit.jpg" class ="bd-placeholder-img rounded-circle" alt="...">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->

        <h2>House with pool</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#Swim" style="background-color:blueviolet;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" id="highlight2">
        <img src = "/images/home garden.jpg" class ="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->

        <h2>City View House</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#Garden" style="background-color:blueviolet;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    
    <hr class="featurette-divider">

    <div class="row featurette" id="About">
      <div class="col-md-7">
        <h2 class="featurette-heading">Elevate Your Lifestyle-<span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Welcome to our Website, where finding your dream home is just a click away. We are a premier real estate agency specializing in helping our clients discover their forever homes. Our team of experienced real estate professionals is dedicated to providing personalized and exceptional service to help you find the home that fits your unique needs and lifestyle.

          We offer a wide range of properties, from charming suburban homes to luxury city apartments, and everything in between. Our listings are carefully curated to ensure that each property is of the highest quality and meets our standards for excellence. We understand that purchasing a home is one of the biggest investments you will make in your lifetime, and we are here to guide you through the process every step of the way.</p>
      </div>
      <div class="col-md-5">
        <h2 style="text-align:center">Choose your desired place to live</h2>
<p style="text-align:center"></p>
<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
<div class="columns">
  <ul class="price">
    <li class="header">1 BHK</li>
    <li class="grey">₹15.5Lac to 90Lac</li>
    <li class="grey">Aminities</li>
    <li class="grey">Plot <br>Area : 800 Sq.  Feet</li>
    <li class="grey">Furnishing:No</li>
    <li class="grey">24 Hours Security</li>
    <li class="grey"><a href="#" class="button">Buy</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#70115a">2 BHK</li>
    <li class="grey">₹25.5Lac to 3C</li>
    <li class="grey">Aminities</li>
    <li class="grey">Plot Area:1800 Sq.Ft</li>
    <li class="grey">Furnishing:Semi</li>
    <li class="grey">24 Hours Security</li>
    <li class="grey"><a href="#" class="button">Buy</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">3 BHK</li>
    <li class="grey">Starts from ₹75Lac</li>
    <li class="grey">Aminities</li>
    <li class="grey">Plot Area:2800 Sq.Ft</li>
    <li class="grey">Furnishing:Fully</li>
    <li class="grey">24 Hours Security</li>
    <li class="grey"><a href="#" class="button">Buy</a></li>
  </ul>
</div>
</div>
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7" id ="Swim">
        <h2 class="featurette-heading" >Home is where the heart is <span class="text-muted"></span></h2>
        <p class="lead">Welcome to your new home, a place where you will create lasting memories and experience all the joys of living in a space that is uniquely yours. This home is more than just a building; it's a place where you can feel comfortable, safe, and happy.</p>
      </div>
      <div class="col-md-5">

        <div class="container-fluid contenedor text-center">
         
          <div class=" container text-center">
             <div class="container_foto">
                <div class="ver_mas text-center">
                   <span  class="lnr lnr-eye"></span>
                </div>
                <article class="text-left">
                   <h2>PRIVATE VILLAS</h2>
                   <h4>Welcome to a world of luxury and relaxation.</h4>
                </article>
                <img src="/images/cactus.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500">
             </div>
             
             </div>
       </div>
        
        
        <!--<img src ="/images/cactus.jpeg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500" >-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2" id="Beach">
        <h2 class="featurette-heading">Escape to paradise <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">As you step inside, you will be greeted by a warm and inviting atmosphere. The spacious living area provides ample space for family and friends to gather, and the open floor plan creates a seamless flow between the kitchen, living room, and dining area.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="container-fluid contenedor text-center">
         
          <div class=" container text-center">
             <div class="container_foto">
                <div class="ver_mas text-center">
                   <span  class="lnr lnr-eye"></span>
                </div>
                <article class="text-left">
                   <h2>CAPTURE THE REAL PARADISE</h2>
                   <h4>You would have a surreal life</h4>
                </article>
        <img src ="/images/florida.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500" >
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
</div>
</div>
      </div>
    </div>
    </div>
    

    <hr class="featurette-divider">

    <div class="row featurette" id ="Garden">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Key to Your New Beginning-<span class="text-muted">Buy a resort</span></h2>
        <p class="lead">Welcome to our premier collection of resorts, a world of luxury and relaxation that is designed to provide you with the ultimate escape from the stresses of daily life. Our resorts are set in some of the world's most breathtaking locations, offering you a chance to immerse yourself in natural beauty while enjoying unparalleled hospitality and service.

          As you step into our resorts, you will be greeted by a sense of serenity and tranquility. The luxurious decor and attention to detail create an atmosphere of elegance and sophistication, while the warm and welcoming staff are dedicated to making your stay as comfortable and memorable as possible.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="container-fluid contenedor text-center">
         
          <div class=" container text-center">
             <div class="container_foto">
                <div class="ver_mas text-center">
                   <span  class="lnr lnr-eye"></span>
                </div>
                <article class="text-left">
                   <h2>DREAM HOUSE?</h2>
                   <h4>Which will be a key to new Beginning</h4>
                </article>
        <img src ="/images/interior.webp"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500" >
      </div>
      </div>
      </div>
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2" id="Beach">
        <h2 class="featurette-heading">Oh yeah, it’s good to have a Villa<span class="text-muted"></span></h2>
        <p class="lead">Welcome to our exquisite collection of villas, a stunning array of luxurious properties that offer the ultimate in opulence and style. Our villas are designed to provide you with an indulgent escape, where you can unwind and immerse yourself in the beauty of your surroundings.

          As you step into one of our villas, you will be greeted by an impressive foyer that leads to an expansive living room that is flooded with natural light. The high ceilings and open floor plan create a feeling of grandeur and elegance, while the rich wood floors and fine finishes add a touch of warmth and sophistication.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src ="/images/florida.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500" >
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-1 " id="Beach">
        <h2 class="featurette-heading">A short video clip - <span class="text-muted">About who we are?</span></h2>
        <p class="lead">Our website is user-friendly and easy to navigate, with detailed property listings and high-quality photos that showcase each property's best features. You can browse through our listings at your own pace, and our advanced search filters allow you to find properties that meet your specific criteria. When you find a property you love, simply reach out to us and we will arrange a viewing for you.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <video controls>  
          <source src="/images/advertisement.mp4" type="video/mp4"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width ="500" height ="500" >  
          Your browser does not support the html video tag.  
        </video>

      </div>
    </div>

    
    

    

  </div><!-- /.container -->


  <!-- FOOTER -->
  
    
    <p><a href="#top" class="linke"></a></p>
    <footer id="footer" class="item5" >
   
      <ul >
        <h3>Conatact:</h3>
        <li class="foot" >jayashreeg@student.tce.edu</li>
        <li class="foot" >madhupriya@student.tce.edu</li>
        <li class="foot" >lokeshd@student.tce.edu</li>
      </ul>
      <p>&copy; 2017–2021 Company, Inc</p>
        <p> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      
    </footer>
    
 
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
<script>
   const form = document.getElementById('highlight');
        form.addEventListener('mouseover',function handlemouseover()
        {
          form.style.backgroundColor='rgb(189, 209, 238)'
        });

        form.addEventListener('mouseout',function handlemouseout(){
          form.style.backgroundColor='lavender'
        })


        const form1 = document.getElementById('highlight1');
        form1.addEventListener('mouseover',function handlemouseover()
        {
          form1.style.backgroundColor='rgb(189, 209, 238)'
        });

        form1.addEventListener('mouseout',function handlemouseout(){
          form1.style.backgroundColor='lavender'
        })


        const form2 = document.getElementById('highlight2');
        form2.addEventListener('mouseover',function handlemouseover()
        {
          form2.style.backgroundColor='rgb(189, 209, 238)'
        });

        form2.addEventListener('mouseout',function handlemouseout(){
          form2.style.backgroundColor='lavender'
        })
</script>

</html>